<html>
  <head>
    <%- include('header.ejs') %>
  </head>
  <body>
    <%- include('menu.ejs') %>
    <div class="container">
      <h3><%= id %></h3>
      해당 유저가 존재하지 않거나, 게임중이 아닙니다!
    </div>
  </body>
</html>
