<html>
  <head>
    <%- include('header.ejs') %>
    <title>리그 오브 레전드 스펠 체크 타이머 - lol spell check timer</title>
  </head>
  <body>
    <%- include('menu.ejs') %>
    <div class="container">
      <a href="">문의</a>
    </div>
  </body>
</html>
