<html>
  <head>
    <%- include('header.ejs') %>
    <title>SPELL.TEAM - 리그 오브 레전드 스펠 체크 타이머</title>
  </head>
  <body>
    <%- include('menu.ejs') %>
    <div class="container"></div>
    <%- include('footer.ejs') %>
  </body>
</html>
