<div class="container" style="padding: 10px 10px 10px">
  <div style="text-align: right">
    <a href="">한국어</a>
  </div>
  <div>
    <a
      href="/"
      style="font-size: 20px; font-weight: bold; text-decoration: none"
      >SPELL.TEAM</a
    >
    <p class="text-muted">League of Legends Spell check & timer board</p>
  </div>
  <form action="/cb" method="get">
    <div class="input-group mb-3">
      <input
        style="max-width: 480px"
        type="text"
        name="id"
        class="form-control"
        placeholder="게임 중인 소환사 명을 입력하세요"
      />
      <input class="btn btn-primary" type="submit" value="진행중인 게임 확인" />
    </div>
  </form>
</div>
