<div class="container" style="padding: 10px 10px 10px">
  <div class="row">
    <div class="col">
      <a href="/"><img src="/static/base/logo.png" width="200px" /></a>
      <p class="text-muted">League Of Legends Spell check & timer board</p>
    </div>
    <div class="col-auto">
      <a href="">한국어</a> | <a href="">english</a> | <a href="">中文</a>
    </div>
  </div>
  <form action="/cb" method="get">
    <div class="input-group mb-3">
      <input
        style="max-width: 480px"
        type="text"
        name="id"
        class="form-control"
        placeholder="게임 중인 소환사 명을 입력하세요"
      />
      <input class="btn btn-primary" type="submit" value="진행중인 게임 확인" />
    </div>
  </form>
</div>
